<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- CSS only -->
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/0a07530e3c.js" crossorigin="anonymous"></script>
    <div class="wrapper">
        <div class="top-bar">
            <div class="icon">
           <h1> <i class="fa-brands fa-spotify" style="color: rgb(2, 240, 10);"></i>SPOTIFY</h1>
        </div>
           <div class="content">
            <a href="/"><span><li class="content-item"><i class="fa-solid fa-house"></i>Home</li></span></a>
            <a href=""><span><li class="content-item"><i class="fa-solid fa-magnifying-glass"></i>Search</li></span></a>
            <a href=""><span><li class="content-item"><i class="fa-solid fa-plus"></i>Your Library</li></span></a>
        </div>
        </div>
        <div class="list-items">
            <ul class="items">
                <a href="/"><li class="item home">Home</li></a>
                <a href="/playlist"><li class="item">My Playlilst1 </li></a>
                <a href="/PlayList2"><li class="item">#Playlist 2</li></a>
                <a href=""><li class="item">Romantic</li></a>
                <a href=""><li class="item">#PlayList 4</li></a>
                <a href=""><li class="item">#Favorites</li></a>
            </ul>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="index.js"></script>
<body>
    <!-- <%-include("./footer");-%> -->
