<%- include("partials/header");-%>
<div class="index">
  <div class="index-top">
    <span class="img">
      <img src="/images/<%= URL %>" alt="">
    <h1><%= head %></h1>
    </span>
    </div>
    <div class="index-mid">
    <ul class="list-items">
      <div class="top-list">
     <li>
       <i class="fa-solid fa-circle-play play fa-4x"></i>
      <i class="fa-solid fa-circle-arrow-down down fa-2x"></i>
     </li>
</div>
      <a href="#"><li></li></a>
      <a href="#"><li></li></a>
      <a href="#"><li></li></a>
      <a href="#"><li></li></a>
      <a href="#"><li></li></a>
      <a href="#"><li></li></a>
    </ul>
    </div>
  </div>
