<%- include("partials/header");-%>
<div class="index">
  <div class="index-top">
    <span class="img">
      <img src= "/images/<%= URL %>" alt="">
    <h1><%= head %></h1>
    </span>
    </div>
    <div class="index-mid">
    <ul class="list-items">
      <div class="top-list">
     <li>
       <i class="fa-solid fa-circle-play play fa-4x"></i>
      <i class="fa-solid fa-circle-arrow-down down fa-2x"></i>
     </li>
</div>
<div class="play-list">
  <div class="play-items first">
    <li>#Tittle</li>
    <li>Album</li>
    <li>Date Added</li>
    <li>Time duration</li>
  </div>
  <div class="play-items">
    <a href="#"><li><img src="/images/th (7).jpg" alt=""></li>Bleed out</a>
    <li>Bleed Out</li>
    <li>Bleed Out</li>
    <li>3:56</li>
  </div>
  <div class="play-items">
    <!-- <a href="#"><li><img src="/images/th (7).jpg" alt="">Bleed out</li></a> -->
    <a href="#"><li><img src="/images/th (6).jpg" alt=""></li>Bleed out</a>
    <li>Bleed Out</li>
    <li>Bleed Out</li>
    <li>3:15</li>
  </div>
  <div class="play-items">
    <a href="#"><li><img src="/images/th (8).jpg" alt=""></li>Bleed out</a>
    <li>Bleed Out</li>
    <li>Bleed Out</li>
    <li>2:28</li>
  </div>
  <div class="play-items">
    <a href="#"><li><img src="/images/th (9).jpg" alt=""></li>Bleed out</a>
    <li>Bleed Out</li>
    <li>Bleed Out</li>
    <li>3:21</li>
  </div>
  <div class="play-items">
    <a href="#"><li><img src="/images/th (7).jpg" alt=""></li>Bleed out</a>
    <li>Bleed Out</li>
    <li>Bleed Out</li>
    <li>3:28</li>
  </div>
    </div>
    </div>
  </div>
