*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
.wrapper{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    position: fixed;
    background-color: black;
}
.top-bar{
    color: aliceblue;
    height: 50%;
    border-bottom:1px solid #131327;
}
.wrapper .top-bar .icon{
    margin: 15px;
    margin-left: 0;
    padding-left: 0;
    font-family:sans-serif ;
}

.wrapper .top-bar .icon .fa-brands{
    margin:10px;
}
.wrapper .top-bar .content .content-item{

    list-style: none;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color:#BBBBBB;
    text-decoration: none;
}
.wrapper .top-bar .content .content-item:hover{
   color: white;
}
.fa-solid{
    margin: 10px;
}
.wrapper .list-items{
    height: 100%;
    width: 100%;
}
.wrapper .list-items .item{
    box-sizing:border-box;
    object-fit: contain;
    width: 250px;
    font-size: 15px;
    height: 25xpx;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding-top: 20px;
    padding-left: 10px;
}
.wrapper .list-items a{
    position: relative;
    font-family: fantasy;
    text-decoration: none;
    color: #BBBBBB;
}
.wrapper .list-items li:hover{
    color: white;
}

.main{
right: 0;
bottom: 0;
top: 0;
bottom: 0%;
display: flex;
overflow-y: scroll;
position: absolute;
background-image: linear-gradient(to bottom, #0f0e2a, #15162a, #1c1c2a, #23232a, #29292a);
left: 250px;
display: flex;
justify-content: flex-start;
}
@media (max-width:368px) {
   .main{
     display: block;
   }
   .main .top-container{
     width:100%;

   }

}
.main .top-container{
    width: 100%;
    height: 180px;
    color: white;
}

.main .top-container .img{
    display: flex;
    position: absolute;
    left: 25px;
    font-family: sans-serif;
    right: 10px;
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    top: 10px;
    background-image: linear-gradient(to right top, #080a0e, #171618, #211f21, #2c292a, #363333);
    margin: 10px 10px 0 10px;
}
.main .top-container .img img{
    width: 140px;
    height: 140px;
}
.main .top-container .img h1{
   width: 50%;
   font-size: 50px;
   padding-left: 5px;
}
.main .top-container .img h1 p{
    font-size: 15px;
    font-weight: 100;
}
.main .top-container .btn{
    position: absolute;
    left: 165px;
    bottom: 10px;
}

.main .top-container .btn button{
    width: 90px;
    height: 40px;
    margin: 0 0.5rem;
    background-color:rgb(50,300, 100);
    color: black;
    font-weight: 500;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 20px;
}
.main .top-container .btn .follow{
    border-color: white;
    border: 1px solid;
    background: transparent;

    color: white;
}
.this{
    color:blueviolet;
}

.main .top-container .btn button:hover{
    cursor: pointer;
    transform: scale(1.08);
    transition: 0.4s ease-in-out;
}
.main .mid-container {
    position: absolute;
    left: 35px;
    right: 20px;
    height: 220px;
    top: 230px;
}
.main .mid-container .container-head{
    color: white;
    margin-bottom: 30px;
}
.main .mid-container .row{
    display: block;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    width: 100%;
    height: 145px;
}

.main .mid-container .row .column{
    display: inline-block;
    background-color: #2b2b2b;
    margin-bottom: 20px;
    width: 48%;
    border-radius: 5px;
} 
.main .mid-container .row .column h3{
    display: inline;
    position: relative;
    text-align: center;
    bottom: 50px;
    color: white;
    font-family: sans-serif;
    left: 110px;
}
.main .mid-container .row .column1{
    margin-right: 5px;
    left: 0;
}
.main .mid-container .row .column2{
    position: absolute;
    right: 0;
}
.main .mid-container .row .images{
    width:100px;
    height: 102px;
}
.main .mid-container .column:hover{
   /* transform: scale(1.04); */
   background-color:#787A91 ;
   transition: 4.5ms;
   cursor: pointer;
}
.main .mid-container .column:hover .fa-solid{
    opacity: 1;
    /* box-shadow: #040407; */
    cursor:default;
    box-shadow: 0px 8px 40px -10px rgba(0,0,0,1);
-webkit-box-shadow: 0px 8px 40px -10px rgba(0,0,0,1);
-moz-box-shadow: 0px 8px 40px -10px rgba(0,0,0,1);
    transition: 1.2s;
}
.main .mid-container .column .fa-solid{
    opacity: 0;
    box-shadow: #040407;
    background-color: black;
    border-radius: 100%;
    /* z-index: -1; */
}
main .mid-container .column .fa-solid:hover{
 transform: scale(1.02);
}

.main .mid-container .column1:hover .fa-solid{
    opacity: 1;
    box-shadow: #040407;
}
.main .mid-container .column2:hover .fa-solid{
    opacity: 1;
}
.main .mid-container .column1 .fa-solid{
    position: absolute;
    top: -15px;
    color: rgb(50,300, 100);
    left: 220px ;
}
.main .mid-container .column2 .fa-solid{
    position: absolute;
    top: -15px;
    color: rgb(50,300, 100);
    left: 220px ;
}
.main .top-mix{
    position: absolute;
    top: 350px;
    color: white;
    padding-bottom: 50px;
    font-family: sans-serif;
    width: 100%;
}
.top-mix-container {
    display: flex;
    /* overflow-x: hidden; */
}
.top-mix .top-head{
    margin:0px;
}
.top-mix-container .items{
    width: 190px;
    display: flex;
    flex-direction: column;
    border: 1px solid #171614;
    height: 250px;
    padding: 10px;
    padding-bottom: 100px;
    background-color: #211f21;
    margin: 20px;

}
.top-mix-container img{
    border-radius: 4px;
    width: 100%;
    /* height: 250px; */
}
.top-mix .items{
    color: #BBBBBB;
    line-height: normal;
    font-family: sans-serif;
}

.top-mix .items:hover{
    transform:scale(1.03);
    cursor: pointer;
}


.top-mix .items h3{
    color:white;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-weight: lighter;
}
.index{
right: 0;
bottom: 0;
top: 0;
bottom: 0%;
display: flex;
overflow-x: hidden;
position: absolute;
left: 250px;
background-image: linear-gradient(to bottom, #524e52, #494a4e, #424548, #3d4041, #393b3a);
display: flex;
}

.index .index-top{
    width: 100%;
    justify-content:center;
    color: white;
    height: 300px;
}

.index .index-top .img{
    display: flex;
    position: absolute;
    align-items: flex-start;
    object-fit: contain;
    width: 100%;
    font-family: sans-serif;
    padding:90px 0 40px 35px;
    padding-right: 0;
    overflow-x: hidden;
    background-image: linear-gradient(to right top, #080a0a, #171618, #211f21, #2c2921, #363333);
  }
  .index img{
    width: 200px;
    height: 200px;
    box-shadow: 15px;
  }
 .index .index-top .img h1{
   /* padding-top: 0; */
   padding: 0 20px;
   font-size: 100px;
 }
 .index .index-mid{
   position: absolute;
   top:350px;
   padding-left: 20px;
   /* color: green; */
 }
.index .index-mid .top-list .play{
  color:rgb(50,300, 100);
  border-radius: 100%;
  background-color: black;
  /* position: absolute; */
  /* top: 350px */
}
.index .index-mid .top-list .play:hover{
  transform: scale(1.04);
}
.index .index-mid .top-list .down{
  position: relative;
  top: -18px;
  left: 5px;
  border-radius: 100%;
  color: #3d4041;
  background-color:#BBBBBB;
  border: 3px solid #BBBBBb;
  /* background:black; */
}
.index .index-mid .top-list .down:hover{
  background-color: white;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: black;
    position:fixed;
    /* position: relative; */
    /* left: -35px; */
    right: 0;
    bottom: 0;
    color: white;
    z-index: 20;
    display: flex;
    justify-content: center;
    background-color: #171614;
}

.footer .footer-section{
    width: 50%;
}

.footer .footer-section .options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 50%;top */
}
/* .footer .footer-section{
    width: 100%;
    height: 50px;
    background-color: black;
    position:fixed;
    /* position: relative; */
    /* left: -35px; */
    /* right: 0; */
    /* bottom: 0; */
    /* height: auto; */
    /* color: white; */
    /* z-index: 20;  */
/* }  */
